#lista-compras td, #lista-compras th {
	text-align: center;
}comprado-true {
	text-decoration: line-through;
	color: red;
}
.page-header {
    padding-bottom: 50px;
}
.labelWidth {
	width: 150px;
  }
