<!doctype html>
<html ng-app="myApp">

<head>
  <title>AngularJS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/application.css">
</head>

<body>
  <div class="container" ng-controller="ListaUsuariosController">

    <div class="row">
      <div class="page-header">
        <div class="span9">
          <h1>CRUD Usuarios</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <button class="btn btn-danger" ng-click="borrarMedicos()">
        <i class="icon-trash icon-white"></i> Borrar Medicos
      </button>
    </div>
    <br/>

    <div class="row">

      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Genero</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="usuario in usuarios | filter:search">
            <td>
              <strong>{{ usuario.id }}</strong>
            </td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.primerApellido }}</td>
            <td>{{ usuario.fechaNacimiento}}</td>
            <td>{{ usuario.genero}}</td>
            <td>
              <button class="btn btn-warning btn-small" data-toggle="modal" data-target="#myModal1" ng-click="editarUsuario($index)">
                <i class="icon-pencil icon-white"></i> Editar
              </button>
              <button class="btn btn-danger btn-small" data-toggle="modal" data-target="#myModal" ng-click="confirmDelete($index)">
                <i class="icon-trash icon-white"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form  name="formUsuario"  ng-submit="addUsuario(formUsuario)">
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" style="padding:20px;  width:400px">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Formulario Usuarios</h4>
              <button type="button" id="cerrar" class="close" data-dismiss="modal">&times;</button>
            </div>
            <br/>


            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Tipo Usuario</label>
              <select name="tipoUsuario" ng-model="usuario.tipoUsuario" required>
                <option ng-repeat="tipoUsuario in tipoUsuarios" ng-attr-value="tipoUsuario">{{tipoUsuario}}</option>
              </select>

              <div>
                <span style="color:red" ng-show="formUsuario.tipoUsuario.$dirty && formUsuario.tipoUsuario.$invalid">

                  <span ng-show="formUsuario.tipoUsuario.$error.required">Campo requerido</span>
                </span>
              </div>

            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Id</label>

              <input name="idUsuario" type="text" ng-model="usuario.id" placeholder="Id" required>
              <div>
                <span style="color:red" ng-show="formUsuario.idUsuario.$dirty && formUsuario.idUsuario.$invalid">

                  <span ng-show="formUsuario.idUsuario.$error.required">Campo requerido</span>
                </span>
              </div>


            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Nombre</label>
              <input name="nombre" type="text" ng-model="usuario.nombre" placeholder="Nombre" required>
              <div>
                <span style="color:red" ng-show="formUsuario.nombre.$dirty && formUsuario.nombre.$invalid">

                  <span ng-show="formUsuario.nombre.$error.required">Campo requerido</span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Primer Apellido</label>
              <input name="primerApellido" type="text" ng-model="usuario.primerApellido" placeholder="Primer Apellido" required>
              <div>
                <span style="color:red" ng-show="formUsuario.primerApellido.$dirty && formUsuario.primerApellido.$invalid">

                  <span ng-show="formUsuario.primerApellido.$error.required">Campo requerido</span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Primer Apellido</label>
              <input type="text" ng-model="usuario.segundoApellido" placeholder="Segundo Apellido">
            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Fecha Nacimiento</label>
              <input id="date1" type="date" class="datepicker" ng-model="usuario.fechaNacimiento" ng-change="dateChange()">
            </div>

            <div class="form-group">
              <label class="labelWidth col-2 col-form-label">Genero</label>
              <select ng-model="usuario.genero">
                <option ng-repeat="genero in generos" ng-attr-value="genero">{{genero}}</option>
              </select>
            </div>


            <div class="modal-footer">
              <button type="submit" onclick="document.getElementById('cerrar').click()" ng-hide="edit" class="btn btn-success" ng-disabled="formUsuario.$invalid">
                Agregar
              </button>


              <button ng-show="edit" ng-disabled="formUsuario.$invalid" class="btn btn-success" onclick="document.getElementById('cerrar').click()" ng-click="applyChanges()">
                <i class="icon-ok icon-white"></i> Actualizar
              </button>

              <button type="button" class="btn btn-danger" data-dismiss="modal"  ng-click="cancelForm()">Cancelar</button>
            </div>

          </div>



        </div>
      </div>
    </form>

    <button class="btn btn-success" data-toggle="modal" data-target="#myModal1">
      <i class="icon-plus icon-white"></i> Agregar
    </button>


    <!-- The Cancel Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Confirmación</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            ¿Está seguro que desea eliminar este elemento?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteUsuario()">Sí</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>

        </div>
      </div>
    </div>

  </div>


  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="app/controllers.js"></script>
</body>

</html>